/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid grey;
    background-color: #fff;
}

main {
    padding-top: 200px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #3367d6;
}
/* logo colors */
.blue {
    color: #4285f4;
}
.red {
    color: #ea4335;
}
.green {
    color: #34a853;
}
.yellow {
    color: #fbbc05;
}

/* nav */

.logo {
    padding-top: 10px;
    display: flex;
}
.logo h1 {
    font-weight: bold;
    font-size: 16px;
}
.logo .current {
    margin-left: 10px;
    font-size: 23px;
    color: #5f6368;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    padding-bottom: 5px;
    font-weight: bold;
    color: #5f6368;
}
.active {
    border-bottom: 2px solid #3367d6;
    color: #3367d6;
}

/* faq sections */
.faq {
    margin-bottom: 80px;
}
.faq > h2,
.faq li,
.faq p {
    margin-bottom: 20px;
}

.small {
    font-size: 18px;
}
/* ordered lists style */
.type-a {
    margin-top: 20px;
    padding-left: 40px;
}
.list {
    padding-left: 17px;
}

/* footer */
footer {
    height: 60px;
    background-color: #f5f5f5;
}
.footer-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.select-language {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-language select {
    width: 200px;
}
.select-language img {
    margin-right: 10px;
}

.footer-links ul {
    display: flex;
    list-style: none;
}
.footer-links ul li {
    margin-right: 10px;
    line-height: 60px;
}
.footer-links ul li a {
    color: #a3a0a0;
    font-size: 10px;
}